# Local
.DS_Store
*.local
*.log*
build-drop/
*.tsbuildinfo
.swc

# Dist
node_modules
dist/
**/translations/compiled
storybook-static

# Testing
junit.xml
coverage/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Downloads
downloads/