{
    "x-generator": "NSwag v14.0.7.0 (NJsonSchema v11.0.0.0 (Newtonsoft.Json v13.0.0.0))",
    "swagger": "2.0",
    "info": {
        "title": "Clarizen.HybridSolutions.Host API",
        "version": "1.0.0"
    },
    "host": "qaapp1.clarizen.com",
    "basePath": "/HybridSolutions",
    "schemes": ["https"],
    "paths": {
        "/bugs": {
            "post": {
                "tags": ["Bugs"],
                "summary": "Returns a list of Bugs.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Bug\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true\n    }",
                "operationId": "Bugs_Get",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntitiesRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/bugs/grouped": {
            "post": {
                "tags": ["Bugs"],
                "summary": "Returns a grouped list of Bugs.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Bug\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"groupBy\": \"state\",\n        \"groupName\": \"Submitted\"\n    }",
                "operationId": "Bugs_GetGrouped",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/bugs/{identifier}": {
            "post": {
                "tags": ["Bugs"],
                "summary": "Returns a Bug by its identifier.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"excludePermissions\": true\n    }",
                "operationId": "Bugs_GetByIdentifier",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntityDetailsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "identifier",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntityDetailsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/bugs/ids": {
            "post": {
                "tags": ["Bugs"],
                "summary": "Returns a list of Bugs by their identifiers.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Bug\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"ids\": [\"11.222.333\", \"44.555.66\"]\n    }",
                "operationId": "Bugs_GetByIds",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntitiesByIdsRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/bugs/count": {
            "post": {
                "tags": ["Bugs"],
                "summary": "Returns the number of Bugs.",
                "description": "Sample request:\n            \n    {\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Bug\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Bugs_GetCount",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CountRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/bugs/{entityId}/relations/{relationName}": {
            "post": {
                "tags": ["Bugs"],
                "summary": "Returns a list of items related to a Bug.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true\n    }",
                "operationId": "Bugs_GetRelations",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RelatedEntitiesRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/bugs/{entityId}/relations/{relationName}/count": {
            "post": {
                "tags": ["Bugs"],
                "summary": "Returns the number of items related to a Bug.",
                "description": "Sample request:\n            \n    {\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Bugs_GetRelationsCount",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CountRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/bugs/{entityId}/relations/{relationName}/grouped": {
            "post": {
                "tags": ["Bugs"],
                "summary": "Returns a grouped list of items related to a Bug.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"groupBy\": \"state\",\n        \"groupName\": \"Active\"\n    }",
                "operationId": "Bugs_GetGroupedRelations",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupedRelationsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/bugs/avatars": {
            "post": {
                "tags": ["Bugs"],
                "summary": "Returns a list of Unique Users and groups.",
                "description": "Sample request:\n            \n    {\n        \"fieldName\": \"Owner\",\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Bug\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Bugs_GetAvatars",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AvatarsRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AvatarsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/bugs/{entityId}/relations/{relationName}/avatars": {
            "post": {
                "tags": ["Bugs"],
                "summary": "Returns a list of Unique Users and groups.",
                "description": "Sample request:\n            \n    {\n    \"relation\": {\n        \"name\": \"ResourcesAndPlaceholders\",\n        \"filteredEntityType\": \"User\"\n    },\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"case\",\n                    \"fieldName\": \"title\"\n                },\n                \"operator\": \"Contains\",\n                \"filterValueType\": \"Text\",\n                \"values\": [\n                    {\n                        \"value\": \"111111\"\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Bugs_GetRelationsAvatars",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AvatarsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AvatarsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/cases": {
            "post": {
                "tags": ["Cases"],
                "summary": "Returns a list of Cases.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Case\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true\n    }",
                "operationId": "Cases_Get",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntitiesRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/cases/grouped": {
            "post": {
                "tags": ["Cases"],
                "summary": "Returns a grouped list of Cases.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Case\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"groupBy\": \"state\",\n        \"groupName\": \"Submitted\"\n    }",
                "operationId": "Cases_GetGrouped",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/cases/{identifier}": {
            "post": {
                "tags": ["Cases"],
                "summary": "Returns a Case by its identifier.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Case\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true\n    }",
                "operationId": "Cases_GetByIdentifier",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntityDetailsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "identifier",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntityDetailsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/cases/ids": {
            "post": {
                "tags": ["Cases"],
                "summary": "Returns a list of Cases by their identifiers.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Case\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"ids\": [\"11.222.333\", \"44.555.66\"]\n    }",
                "operationId": "Cases_GetByIds",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntitiesByIdsRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/cases/count": {
            "post": {
                "tags": ["Cases"],
                "summary": "Returns the number of Cases.",
                "description": "Sample request:\n            \n    {\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Case\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Cases_GetCount",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CountRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/cases/{entityId}/relations/{relationName}": {
            "post": {
                "tags": ["Cases"],
                "summary": "Returns a list of items related to a Case.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true\n    }",
                "operationId": "Cases_GetRelations",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RelatedEntitiesRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/cases/{entityId}/relations/{relationName}/count": {
            "post": {
                "tags": ["Cases"],
                "summary": "Returns the number of items related to a Case.",
                "description": "Sample request:\n            \n    {\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Cases_GetRelationsCount",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CountRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/cases/{entityId}/relations/{relationName}/grouped": {
            "post": {
                "tags": ["Cases"],
                "summary": "Returns a grouped list of items related to a Case.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"groupBy\": \"state\",\n        \"groupName\": \"Active\"\n    }",
                "operationId": "Cases_GetGroupedRelations",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupedRelationsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/cases/avatars": {
            "post": {
                "tags": ["Cases"],
                "summary": "Returns a list of Unique Users and groups.",
                "description": "Sample request:\n            \n    {\n        \"fieldName\": \"Owner\",\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Case\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Cases_GetAvatars",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AvatarsRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AvatarsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/cases/{entityId}/relations/{relationName}/avatars": {
            "post": {
                "tags": ["Cases"],
                "summary": "Returns a list of Unique Users and groups.",
                "description": "Sample request:\n            \n    {\n    \"relation\": {\n        \"name\": \"ResourcesAndPlaceholders\",\n        \"filteredEntityType\": \"User\"\n    },\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"case\",\n                    \"fieldName\": \"title\"\n                },\n                \"operator\": \"Contains\",\n                \"filterValueType\": \"Text\",\n                \"values\": [\n                    {\n                        \"value\": \"111111\"\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Cases_GetRelationsAvatars",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AvatarsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AvatarsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/issues": {
            "post": {
                "tags": ["Issues"],
                "summary": "Returns a list of Issues.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Issue\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true\n    }",
                "operationId": "Issues_Get",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntitiesRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/issues/grouped": {
            "post": {
                "tags": ["Issues"],
                "summary": "Returns a grouped list of Issues.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Issue\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"groupBy\": \"state\",\n        \"groupName\": \"Submitted\"\n    }",
                "operationId": "Issues_GetGrouped",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/issues/{identifier}": {
            "post": {
                "tags": ["Issues"],
                "summary": "Returns an Issue by its identifier.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"excludePermissions\": true\n    }",
                "operationId": "Issues_GetByIdentifier",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntityDetailsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "identifier",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntityDetailsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/issues/ids": {
            "post": {
                "tags": ["Issues"],
                "summary": "Returns a list of Issues by their identifiers.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Issue\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"ids\": [\"11.222.333\", \"44.555.66\"]\n    }",
                "operationId": "Issues_GetByIds",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntitiesByIdsRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/issues/count": {
            "post": {
                "tags": ["Issues"],
                "summary": "Returns the number of Issues.",
                "description": "Sample request:\n            \n    {\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Issue\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Issues_GetCount",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CountRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/issues/{entityId}/relations/{relationName}": {
            "post": {
                "tags": ["Issues"],
                "summary": "Returns a list of items related to an Issue.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true\n    }",
                "operationId": "Issues_GetRelations",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RelatedEntitiesRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/issues/{entityId}/relations/{relationName}/count": {
            "post": {
                "tags": ["Issues"],
                "summary": "Returns the number of items related to an Issue.",
                "description": "Sample request:\n            \n    {\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Issues_GetRelationsCount",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CountRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/issues/{entityId}/relations/{relationName}/grouped": {
            "post": {
                "tags": ["Issues"],
                "summary": "Returns a grouped list of items related to an Issue.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"groupBy\": \"state\",\n        \"groupName\": \"Active\"\n    }",
                "operationId": "Issues_GetGroupedRelations",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupedRelationsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/issues/avatars": {
            "post": {
                "tags": ["Issues"],
                "summary": "Returns a list of Unique Users and groups.",
                "description": "Sample request:\n            \n    {\n        \"fieldName\": \"Owner\",\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Issue\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Issues_GetAvatars",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AvatarsRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AvatarsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/issues/{entityId}/relations/{relationName}/avatars": {
            "post": {
                "tags": ["Issues"],
                "summary": "Returns a list of Unique Users and groups.",
                "description": "Sample request:\n            \n    {\n    \"relation\": {\n        \"name\": \"ResourcesAndPlaceholders\",\n        \"filteredEntityType\": \"User\"\n    },\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"case\",\n                    \"fieldName\": \"title\"\n                },\n                \"operator\": \"Contains\",\n                \"filterValueType\": \"Text\",\n                \"values\": [\n                    {\n                        \"value\": \"111111\"\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Issues_GetRelationsAvatars",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AvatarsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AvatarsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/requests": {
            "post": {
                "tags": ["Requests"],
                "summary": "Returns a list of Requests (EnhancementRequest).",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"EnhancementRequest\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"itemType\": \"Numeric\",\n                        \"value\": 10\n                    },\n                    {\n                        \"itemType\": \"Numeric\",\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true\n    }",
                "operationId": "Requests_Get",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntitiesRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/requests/grouped": {
            "post": {
                "tags": ["Requests"],
                "summary": "Returns a grouped list of Requests (EnhancementRequest).",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"EnhancementRequest\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"groupBy\": \"state\",\n        \"groupName\": \"Submitted\"\n    }",
                "operationId": "Requests_GetGrouped",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/requests/{identifier}": {
            "post": {
                "tags": ["Requests"],
                "summary": "Returns a Request (EnhancementRequest) by its identifier.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"excludePermissions\": true\n    }",
                "operationId": "Requests_GetByIdentifier",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntityDetailsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "identifier",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntityDetailsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/requests/ids": {
            "post": {
                "tags": ["Requests"],
                "summary": "Returns a list of Requests (EnhancementRequest) by their identifiers.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"EnhancementRequest\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"ids\": [\"11.222.333\", \"44.555.66\"]\n    }",
                "operationId": "Requests_GetByIds",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntitiesByIdsRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/requests/count": {
            "post": {
                "tags": ["Requests"],
                "summary": "Returns the number of Requests (EnhancementRequest).",
                "description": "Sample request:\n            \n    {\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"EnhancementRequest\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Requests_GetCount",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CountRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/requests/{entityId}/relations/{relationName}": {
            "post": {
                "tags": ["Requests"],
                "summary": "Returns a list of items related to a Request (EnhancementRequest).",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true\n    }",
                "operationId": "Requests_GetRelations",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RelatedEntitiesRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/requests/{entityId}/relations/{relationName}/count": {
            "post": {
                "tags": ["Requests"],
                "summary": "Returns the number of items related to a Request (EnhancementRequest).",
                "description": "Sample request:\n            \n    {\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Requests_GetRelationsCount",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CountRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/requests/{entityId}/relations/{relationName}/grouped": {
            "post": {
                "tags": ["Requests"],
                "summary": "Returns a grouped list of items related to a Request (EnhancementRequest).",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"WorkItem\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"groupBy\": \"state\",\n        \"groupName\": \"Active\"\n    }",
                "operationId": "Requests_GetGroupedRelations",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupedRelationsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/requests/avatars": {
            "post": {
                "tags": ["Requests"],
                "summary": "Returns a list of Unique Users and groups.",
                "description": "Sample request:\n            \n    {\n        \"fieldName\": \"Owner\",\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"EnhancementRequest\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Requests_GetAvatars",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AvatarsRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AvatarsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/requests/{entityId}/relations/{relationName}/avatars": {
            "post": {
                "tags": ["Requests"],
                "summary": "Returns a list of Unique Users and groups.",
                "description": "Sample request:\n            \n    {\n    \"relation\": {\n        \"name\": \"ResourcesAndPlaceholders\",\n        \"filteredEntityType\": \"User\"\n    },\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"case\",\n                    \"fieldName\": \"title\"\n                },\n                \"operator\": \"Contains\",\n                \"filterValueType\": \"Text\",\n                \"values\": [\n                    {\n                        \"value\": \"111111\"\n                    }\n                ]\n            }\n        ]\n    }",
                "operationId": "Requests_GetRelationsAvatars",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AvatarsRequest"
                        },
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "entityId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "relationName",
                        "in": "path",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AvatarsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/risks": {
            "post": {
                "tags": ["Risks"],
                "summary": "Returns a list of Risks.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Risk\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true\n    }",
                "operationId": "Risks_Get",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EntitiesRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/risks/grouped": {
            "post": {
                "tags": ["Risks"],
                "summary": "Returns a grouped list of Risks.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"dataFilters\": [\n            {\n                \"field\": {\n                    \"entityType\": \"Risk\",\n                    \"fieldName\": \"percentCompleted\"\n                },\n                \"operator\": \"Between\",\n                \"filterValueType\": \"Numeric\",\n                \"values\": [\n                    {\n                        \"value\": 10\n                    },\n                    {\n                        \"value\": 20\n                    }\n                ]\n            }\n        ],\n        \"offset\": 0,\n        \"limit\": 25,\n        \"sortBy\": \"title\",\n        \"sortStrategy\": \"Asc\",\n        \"excludePermissions\": true,\n        \"groupBy\": \"state\",\n        \"groupName\": \"Submitted\"\n    }",
                "operationId": "Risks_GetGrouped",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesRequest"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupedEntitiesResponse"
                        }
                    }
                },
                "security": [
                    {
                        "JWT Token": []
                    }
                ]
            }
        },
        "/risks/{identifier}": {
            "post": {
                "tags": ["Risks"],
                "summary": "Returns a Risk by its identifier.",
                "description": "Sample request:\n            \n    {\n        \"fields\": [\n            \"title\",\n            \"createdOn\",\n            \"state\"\n        ],\n        \"excludePermissions\": true\n    }",
                "operationId": "Risks_GetByIdentifier",
                "consumes": [
[...]
